site_name: VIAUJV83 - Webportálok fejlesztése
site_author: Gábor Gincsai
copyright: Copyright &copy; BME VIK AUT
#repo_name: bmeaut/mkdocs-course-materials-template
repo_name: webportalok
#repo_url: https://github.com/bmeaut/mkdocs-course-materials-template
repo_url: https://github.com/webportalok/webportalok
#site_url: https://bmeaut.github.io/mkdocs-course-materials-template/
site_url: https://webportalok.github.io/webportalok

theme:
  name: material
  custom_dir: overrides
  icon:
    repo: fontawesome/brands/github
  language: hu
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: aut
      primary: aut
      accent: red
      toggle:
        icon: material/lightbulb-outline
        name: Váltás sötét témára
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      toggle:
        icon: material/lightbulb
        name: Váltás világos témára
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - content.code.copy
    - content.code.select
    - navigation.tabs
    - navigation.top
    - search.suggest
    - content.action.edit
    - toc.follow
  logo: logo-bme-aut.png
  favicon: favicon.ico

extra_css:
  - extra-material-theme.css

extra:
  generator: false

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.blocks.caption
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed
  - pymdownx.tilde
  - pymdownx.keys
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list


plugins:
  - search
  - glightbox
  - git-revision-date-localized:
      # override from docker environment variables
      # not a vanilla yaml syntax, only works with mkdocs.yaml because of pyyaml_env_tag
      enabled: !ENV [IsRevisionDatePluginEnabled, false]
      enable_creation_date: false
      type: timeago
      timezone: Europe/Budapest
      locale: hu
  - git-committers:
      # override from docker environment variables
      # not a vanilla yaml syntax, only works with mkdocs.yaml because of pyyaml_env_tag
      enabled: !ENV [IsAuthorsPluginEnabled, false]
      github_token: !ENV [GITHUB_TOKEN, '']
      # repository: bmeaut/mkdocs-course-materials-template
      repository: webportalok
      branch: master

nav:
  - "Tudnivalók":
      - information/terms of use/index.md
      - information/course/index.md
      - information/requirements/index.md
      - information/contributing/index.md
  - "Laborok":
      - seminar/0 - Adatbazis alapok/index.md
      - seminar/1 - Tervezes/index.md
      - seminar/2 - Projekt struktura/index.md
      - seminar/3 - Backend services/index.md
      - "4. ASP.NET Razor Pages":
          - seminar/4 - ASP.NET Razor Pages/4.1 Basics/index.md
          - seminar/4 - ASP.NET Razor Pages/4.2 Main pages/index.md
          - seminar/4 - ASP.NET Razor Pages/4.3 Felhasznalokezeles/index.md
          - seminar/4 - ASP.NET Razor Pages/4.4 Admin pages/index.md
      - "ASP.NET MVC":
          - seminar/5 - ASP.NET MVC/index.md
      - "6. Blazor WASM":
          - seminar/6 - Blazor WASM/index.md
  - "Házi feladatok":
      - homework/01 - Specifikacio/index.md
      - homework/02 - Nagy hazi feladat/index.md
